

.header{
    background-color: #1B6F1B;
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}
li{
    text-decoration: none;

}




.main{
    display: flex;
    justify-content: space-around;
    background-color: #1B6F1B;
}

#title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#text{
    margin-top: 0px;
    padding: 0;
   
}


